.page-header {
  /* display: block; */
  padding: 1em;
  background: lightgray;
}
.content-container {
  font-size: 0;
}
.content-section {
  display: inline-block;
  vertical-align: top;
  padding: 1em;
  font-size: 1rem;
}
.content-section-a {
  width: calc(30% - 2em);
  background: yellow;
}
.content-section-b {
  width: calc(70% - 2em);
  background: pink;
}
.page-footer {
  padding: 1em;
  background: yellowgreen;
}
.global-menu-link {
  /* display: inline; */
  display: block;
  margin-bottom: 5px;
  background: white;
}
