.page-header {
  /* display: block; */
  padding: 1em;
  background: lightgray;
}
.content-container {
  border: 10px solid red;
}
.content-container:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.content-section {
  float: left;
  padding: 1em;
  font-size: 1rem;
}
.content-section-a {
  width: calc(30% - 2em);
  background: yellow;
}
.content-section-b {
  width: calc(70% - 2em);
  background: pink;
}
.page-footer {
  /* clear: left; */
  padding: 1em;
  background: yellowgreen;
}
.global-menu-link {
  /* display: inline; */
  display: block;
  margin-bottom: 5px;
  background: white;
}
/* .clear {
  clear: left;
} */
